<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mon Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/ajouter-utilisateur" routerLinkActive="active">Inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-utilisateurs" routerLinkActive="active">Liste Utilisateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a> <!-- Lien vers la page login -->
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet> <!-- L'endroit où les composants seront rendus en fonction des routes -->
</div>
